Repository hyperlane-xyz/hyperlane-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @aroralanuk, @ltyu, @tkporter, @daniel-savu, @ameten, @paulbalaji, @xaroz, @cmcewen, @Mo-Hussain

Fix tests
  solidity/test/AmountRouting.t.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @ltyu

new warp
  typescript/cli/src/deploy/warp.ts
Owners: @yorhodes, @ltyu

chore: merge Chainlight audit from Q3/Q4 2024 (#5303)
  .changeset/friendly-owls-stare.md
  .changeset/green-kangaroos-whisper.md
  .changeset/two-coins-invent.md
  .changeset/violet-beers-hang.md
  solidity/contracts/hooks/aggregation/StaticAggregationHook.sol
  solidity/contracts/hooks/warp-route/RateLimitedHook.sol
  solidity/contracts/token/HypERC20.sol
  solidity/contracts/token/HypERC20Collateral.sol
  solidity/contracts/token/HypNative.sol
  solidity/contracts/token/extensions/FastHypERC20.sol
  solidity/contracts/token/extensions/FastHypERC20Collateral.sol
  solidity/contracts/token/extensions/HypERC4626.sol
  solidity/contracts/token/extensions/HypERC4626Collateral.sol
  solidity/contracts/token/extensions/HypERC4626OwnerCollateral.sol
  solidity/contracts/token/extensions/HypFiatToken.sol
  solidity/contracts/token/extensions/HypNativeScaled.sol
  solidity/contracts/token/extensions/HypXERC20.sol
  solidity/contracts/token/extensions/HypXERC20Lockbox.sol
  solidity/contracts/token/libs/FastTokenRouter.sol
  solidity/contracts/token/libs/FungibleTokenRouter.sol
  solidity/contracts/token/libs/TokenRouter.sol
  solidity/script/xerc20/ApproveLockbox.s.sol
  solidity/script/xerc20/ezETH.s.sol
  solidity/test/AmountRouting.t.sol
  solidity/test/hooks/AggregationHook.t.sol
  solidity/test/hooks/RateLimitedHook.t.sol
  solidity/test/token/HypERC20.t.sol
  solidity/test/token/HypERC20CollateralVaultDeposit.t.sol
  solidity/test/token/HypERC4626Test.t.sol
  solidity/test/token/HypNativeScaled.t.sol
  solidity/test/token/WHypERC4626.t.sol
  typescript/sdk/src/token/config.ts
  typescript/sdk/src/token/contracts.ts
  typescript/sdk/src/token/deploy.ts
Owners: @yorhodes, @tkporter, @aroralanuk, @ltyu, @paulbalaji

EvmERC721TokenAdapter
  typescript/sdk/src/token/adapters/EvmERC721TokenAdapter.ts
Owners: @yorhodes, @ltyu, @paulbalaji

feat: sort messages based on how many retries
  rust/main/agents/relayer/src/msg/op_queue.rs
  rust/main/agents/relayer/src/msg/pending_message.rs
  rust/main/agents/relayer/src/server/list_messages.rs
  rust/main/hyperlane-core/src/traits/pending_operation.rs
Owners: @tkporter, @daniel-savu

chore: Fix missing quote in warning log
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

feat: Implement Starknet token adapter domain and router methods
  typescript/sdk/src/token/adapters/StarknetTokenAdapter.ts
Owners: @yorhodes, @ltyu, @paulbalaji

chore(fuel): bump dep & rust-toolchain versions
  rust/main/Cargo.lock
  rust/main/Cargo.toml
  rust/main/chains/hyperlane-fuel/src/interchain_security_module.rs
  rust/main/chains/hyperlane-fuel/src/mailbox.rs
  rust/main/chains/hyperlane-fuel/src/provider.rs
  rust/main/chains/hyperlane-fuel/src/validator_announce.rs
  rust/main/rust-toolchain
  rust/main/utils/run-locally/build.rs
  rust/main/utils/run-locally/src/fuel/deploy.rs
  rust/main/utils/run-locally/src/fuel/mod.rs
  rust/main/utils/run-locally/src/types.rs
  rust/main/utils/run-locally/src/utils.rs
Owners: @tkporter, @daniel-savu

feat: add Turtle
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumLineaTurtle.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
  typescript/infra/src/config/warp.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

address comments
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/config/funding/grafanaAlerts.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

feat(balances): Update write alert scripts with helpul prompts
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/config/funding/grafanaAlerts.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/infrastructure/monitoring/grafana.ts
  typescript/infra/src/infrastructure/monitoring/prometheus.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

feat(balances): Use desiredRelayerBalances config in key funder (#5629)
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalanceOverrides.json
  typescript/infra/config/environments/mainnet3/balances/desiredRelayerBalances.json
  typescript/infra/config/environments/mainnet3/balances/highUrgencyRelayerBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyEngKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/balances/lowUrgencyKeyFunderBalance.json
  typescript/infra/config/environments/mainnet3/funding.ts
  typescript/infra/scripts/funding/fund-keys-from-deployer.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

feat(balances): Update write alert scripts with helpul prompts (#5628)
  typescript/infra/scripts/funding/calculate-relayer-daily-burn.ts
  typescript/infra/scripts/funding/write-alert.ts
  typescript/infra/src/config/funding/grafanaAlerts.ts
  typescript/infra/src/funding/alerts.ts
  typescript/infra/src/infrastructure/monitoring/grafana.ts
  typescript/infra/src/infrastructure/monitoring/prometheus.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

new gas limit
  typescript/infra/config/environments/testnet4/agent.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

chore: remove empty string `ISM_CONFIG`
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumLineaTurtle.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

chore: reworked hyperlane query client
  typescript/sdk/src/core/adapters/CosmosModuleCoreAdapter.ts
  typescript/sdk/src/token/adapters/CosmosModuleTokenAdapter.ts.ts
Owners: @yorhodes, @ltyu, @paulbalaji

add protocoltype starknet
  typescript/sdk/package.json
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/explorerHealthTest.ts
  typescript/sdk/src/providers/providerBuilders.ts
  typescript/sdk/src/token/Token.test.ts
  typescript/sdk/src/token/TokenStandard.ts
  typescript/sdk/src/token/nativeTokenMetadata.ts
  typescript/utils/src/types.ts
  yarn.lock
Owners: @yorhodes, @ltyu, @paulbalaji

chore: added cosmos module fee estimator
  typescript/sdk/src/providers/ProviderType.ts
  typescript/sdk/src/providers/transactionFeeEstimators.ts
Owners: @yorhodes, @ltyu, @paulbalaji

chore: added cosmos module to rpc health tests
  typescript/sdk/src/providers/rpcHealthTest.ts
Owners: @yorhodes, @ltyu, @paulbalaji

chore: remove todo
  typescript/sdk/src/token/adapters/CosmosModuleTokenAdapter.ts.ts
Owners: @yorhodes, @ltyu, @paulbalaji

rm logs
  typescript/cli/sepolia-paradexsepolia.log
  typescript/cli/sepolia-starknetsepolia.log
Owners: @yorhodes, @ltyu

rm logs validator
  rust/main/validator-starknetsepolia.log
Owners: @tkporter, @daniel-savu

fix: update CCIP PR changes with new optional mailbox on warp configs
  typescript/sdk/src/token/EvmERC20WarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/types.ts
Owners: @yorhodes, @ltyu, @paulbalaji

receiptTx
  typescript/widgets/package.json
  typescript/widgets/src/index.ts
  typescript/widgets/src/walletIntegrations/MultiProtocolWalletModal.tsx
  typescript/widgets/src/walletIntegrations/multiProtocol.tsx
  typescript/widgets/src/walletIntegrations/starknet.ts
  typescript/widgets/tsconfig.json
Owners: @xaroz, @cmcewen

add chains pkg
  yarn.lock
Owners: none

update
  typescript/sdk/src/providers/ProviderType.ts
  typescript/widgets/package.json
  typescript/widgets/src/index.ts
  typescript/widgets/src/walletIntegrations/starknet.ts
  yarn.lock
Owners: @yorhodes, @ltyu, @paulbalaji, @xaroz, @cmcewen

voyager
  typescript/sdk/src/metadata/chainMetadataTypes.ts
  typescript/widgets/src/walletIntegrations/multiProtocol.tsx
Owners: @yorhodes, @ltyu, @paulbalaji, @xaroz, @cmcewen

Update registryrc
  .registryrc
Owners: none

Revert "Update registryrc"
  .registryrc
Owners: none

Add withWarpRouteIdNoChoices() and use in deploy-warp-monitor
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/warp-routes/deploy-warp-monitor.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

Remove demandOption
  typescript/infra/scripts/agent-utils.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

Use withWarpRouteIdNoChoices
  typescript/infra/scripts/warp-routes/monitor/monitor-warp-route-balances.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

Add and use withWarpRouteIdNoChoicesRequired
  typescript/infra/scripts/agent-utils.ts
  typescript/infra/scripts/warp-routes/monitor/status.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

chore: separate mint limit check and add test
  typescript/sdk/src/consts/testChains.ts
  typescript/sdk/src/warp/WarpCore.test.ts
  typescript/sdk/src/warp/WarpCore.ts
  typescript/sdk/src/warp/test-warp-core-config.yaml
Owners: @yorhodes, @ltyu, @paulbalaji

test: better names and vsxerc20token rate limit test
  typescript/sdk/src/warp/WarpCore.test.ts
Owners: @yorhodes, @ltyu, @paulbalaji

feat: add Turtle
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumLineaTurtle.ts
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
  typescript/infra/src/config/warp.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

chore: remove empty string `ISM_CONFIG`
  typescript/infra/config/environments/mainnet3/warp/configGetters/getEthereumLineaTurtle.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

chore: update helm docker tag
  typescript/infra/src/warp/helm.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

fix: cosmos-sdk eslint
  typescript/cosmos-sdk/eslint.config.mjs
  typescript/cosmos-sdk/package.json
  typescript/cosmos-sdk/src/client/index.ts
  typescript/cosmos-sdk/src/client/registry/index.ts
Owners: @yorhodes, @ltyu

docs: add extra comments about `_mintAmount` feature in `HypERC721` + fix Natspec comment
  solidity/contracts/token/HypERC721.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @ltyu

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @aroralanuk @ltyu
*.ts @yorhodes @ltyu
*.rs @tkporter @daniel-savu @ameten

# Package owners

## Contracts
solidity/ @yorhodes @tkporter @aroralanuk @ltyu

## Agents
rust/ @tkporter @daniel-savu

## SDK
typescript/utils @yorhodes @ltyu @paulbalaji
typescript/sdk @yorhodes @ltyu @paulbalaji
typescript/widgets @xaroz @cmcewen

## CLI
typescript/cli @yorhodes @ltyu

## Infra
typescript/infra @tkporter @paulbalaji @Mo-Hussain
