Repository hyperlane-xyz/hyperlane-monorepo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yorhodes, @aroralanuk, @ltyu, @tkporter, @daniel-savu, @ameten, @paulbalaji, @xaroz, @cmcewen, @Mo-Hussain

.github/CODEOWNERS:

# File extension owners

*.sol @yorhodes @aroralanuk @ltyu
*.ts @yorhodes @ltyu
*.rs @tkporter @daniel-savu @ameten

# Package owners

## Contracts
solidity/ @yorhodes @tkporter @aroralanuk @ltyu

## Agents
rust/ @tkporter @daniel-savu

## SDK
typescript/utils @yorhodes @ltyu @paulbalaji
typescript/sdk @yorhodes @ltyu @paulbalaji
typescript/widgets @xaroz @cmcewen

## CLI
typescript/cli @yorhodes @ltyu

## Infra
typescript/infra @tkporter @paulbalaji @Mo-Hussain

fix: comment out oUSDT staging warp id to fix check warp deploy job
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

fix: tests
  typescript/cosmos-sdk/package.json
  typescript/cosmos-sdk/src/client/hyperlane/interchain_security/query.ts
  typescript/cosmos-sdk/src/client/index.ts
  typescript/cosmos-sdk/tsconfig.json
Owners: @yorhodes, @ltyu

docs: add missing Natspec comment above `initialize(...)` of `HypERC20Collateral`, fix Natspec blocks and add Natspec above token `constructor`
  solidity/contracts/token/HypERC20.sol
  solidity/contracts/token/HypERC20Collateral.sol
  solidity/contracts/token/HypERC721.sol
  solidity/contracts/token/HypERC721Collateral.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @ltyu

fix: syncpack
  typescript/cosmos-sdk/package.json
  yarn.lock
Owners: none

fix: syncpack
  typescript/cosmos-sdk/package.json
  yarn.lock
Owners: none

fix: prettier
  typescript/cosmos-sdk/package.json
Owners: none

feat: added metrics to rpc & grpc provider
  rust/main/chains/hyperlane-cosmos-native/src/indexers/delivery.rs
  rust/main/chains/hyperlane-cosmos-native/src/indexers/dispatch.rs
  rust/main/chains/hyperlane-cosmos-native/src/indexers/gas_paymaster.rs
  rust/main/chains/hyperlane-cosmos-native/src/indexers/indexer.rs
  rust/main/chains/hyperlane-cosmos-native/src/indexers/tree_insertion.rs
  rust/main/chains/hyperlane-cosmos-native/src/ism.rs
  rust/main/chains/hyperlane-cosmos-native/src/lib.rs
  rust/main/chains/hyperlane-cosmos-native/src/mailbox.rs
  rust/main/chains/hyperlane-cosmos-native/src/merkle_tree_hook.rs
  rust/main/chains/hyperlane-cosmos-native/src/prometheus/metrics_channel.rs
  rust/main/chains/hyperlane-cosmos-native/src/prometheus/metrics_future.rs
  rust/main/chains/hyperlane-cosmos-native/src/prometheus/mod.rs
  rust/main/chains/hyperlane-cosmos-native/src/providers/cosmos.rs
  rust/main/chains/hyperlane-cosmos-native/src/providers/grpc.rs
  rust/main/chains/hyperlane-cosmos-native/src/providers/rpc.rs
  rust/main/chains/hyperlane-cosmos-native/src/validator_announce.rs
  rust/main/config/testnet_config.json
  rust/main/hyperlane-base/src/settings/chains.rs
  rust/main/utils/run-locally/src/cosmosnative/mod.rs
  rust/main/utils/run-locally/src/cosmosnative/types.rs
Owners: @tkporter, @daniel-savu

chore: update `registry.rc`
  .registryrc
Owners: none

chore: dependencies
  rust/main/Cargo.toml
Owners: @tkporter, @daniel-savu

feat: Add Starknet test chain and Ether contract utility
  typescript/sdk/src/consts/testChains.ts
  typescript/sdk/src/token/adapters/StarknetTokenAdapter.ts
  typescript/sdk/src/utils/starknet.ts
Owners: @yorhodes, @ltyu, @paulbalaji

fix: comment out oUSDT staging warp id to fix check warp deploy job (#5655)
  typescript/infra/config/environments/mainnet3/warp/warpIds.ts
  typescript/infra/config/warp.ts
Owners: @tkporter, @paulbalaji, @Mo-Hussain

refactor: Update Starknet transaction receipt type import
  typescript/sdk/src/providers/ProviderType.ts
Owners: @yorhodes, @ltyu, @paulbalaji

refactor: remove variable shadowing with `owner()` function
  solidity/contracts/isms/PausableIsm.sol
Owners: @yorhodes, @tkporter, @aroralanuk, @ltyu

fix: cosmos native run-locally as feature
  rust/main/utils/run-locally/src/main.rs
Owners: @tkporter, @daniel-savu

refactor: optional mailbox on warp config (#5500)
  .changeset/forty-mugs-deny.md
  .changeset/violet-beers-hang.md
  typescript/cli/src/commands/config.ts
  typescript/cli/src/commands/warp.ts
  typescript/cli/src/config/warp.ts
  typescript/cli/src/deploy/warp.ts
  typescript/cli/src/tests/warp/warp-init.e2e-test.ts
  typescript/infra/config/warp.ts
  typescript/sdk/src/index.ts
  typescript/sdk/src/token/EvmERC20WarpRouteReader.hardhat-test.ts
  typescript/sdk/src/token/deploy.hardhat-test.ts
  typescript/sdk/src/token/deploy.ts
  typescript/sdk/src/token/types.test.ts
  typescript/sdk/src/token/types.ts
Owners: @yorhodes, @ltyu, @tkporter, @paulbalaji, @Mo-Hussain
